backups-dup-lite/
upgrade/
wp-content/fonts/

plugins/classic-editor/
plugins/cmb2/
plugins/tbay-elementor/
plugins/contact-form-7/
plugins/duplicator/
plugins/woo-variation-swatches/
plugins/elementor/
plugins/woocommerce/
plugins/email-log/
plugins/woocommerce-multilingual/
plugins/woocommerce-products-filter/
plugins/instagram-feed/
plugins/woongkir/
plugins/wp-mail-smtp/
plugins/mailchimp-for-wp/
plugins/wpforms-lite/
plugins/wpml-media-translation/
plugins/pepro-bacs-receipt-upload-for-woocommerce/
plugins/redux-framework/
plugins/yith-woocommerce-wishlist/
plugins/revslider/
plugins/SNAP-Woocommerce-master/
plugins/et-core-plugin/
plugins/midtrans-woocommerce/
plugins/instagram-feed-pro/
plugins/nextend-facebook-connect/
plugins/piotnet-addons-for-elementor/
plugins/sitepress-multilingual-cms/
plugins/wpml-string-translation/
plugins/wpml-translation-management/
plugins/tawkto-live-chat/
plugins/elementor-pro/
plugins/elementor-beta/
plugins/really-simple-ssl/
plugins/wp-letsencrypt-ssl/
plugins/extendify/


fonts/
languages/
debug.log
themes/twentytwentyone/
themes/twentytwentytwo
uploads/
~uploads/nbdesigner/
