backups-dup-lite/
upgrade/
wp-content/fonts/

plugins/classic-editor/
plugins/cmb2/
plugins/tbay-elementor/
plugins/contact-form-7/
plugins/duplicator/
plugins/woo-variation-swatches/
plugins/elementor/
plugins/woocommerce/
plugins/email-log/
plugins/woocommerce-multilingual/
plugins/woocommerce-products-filter/
plugins/instagram-feed/
plugins/wp-mail-smtp/
plugins/mailchimp-for-wp/
plugins/wpforms-lite/
plugins/wpml-media-translation/
plugins/pepro-bacs-receipt-upload-for-woocommerce/
plugins/redux-framework/
plugins/yith-woocommerce-wishlist/
plugins/revslider/
plugins/SNAP-Woocommerce-master/
plugins/et-core-plugin/
plugins/midtrans-woocommerce/
plugins/instagram-feed-pro/
plugins/nextend-facebook-connect/
plugins/piotnet-addons-for-elementor/
plugins/sitepress-multilingual-cms/
plugins/wpml-string-translation/
plugins/wpml-translation-management/
plugins/tawkto-live-chat/
plugins/elementor-pro/
plugins/elementor-beta/
plugins/really-simple-ssl/
plugins/wp-letsencrypt-ssl/
plugins/extendify/
plugins/aaclub_wc_plugin/
plugins/better-search-replace/
plugins/chaty/
plugins/click-to-chat-for-whatsapp/
plugins/coupon-generator-for-woocommerce/
plugins/creame-whatsapp-me/

fonts/
languages/
debug.log
themes/twentytwentyone/
themes/twentytwentytwo
uploads/
~uploads/nbdesigner/
phaseBB/
phaseBB.zip

plugins/custom-css-js/
plugins/custom-order-statuses-for-woocommerce/
plugins/duplicate-page/
plugins/elementskit-lite/
plugins/elementskit/
plugins/essential-addons-elementor/
plugins/essential-addons-for-elementor-lite/
plugins/insert-headers-and-footers/
plugins/login-designer/
plugins/nitropack/
plugins/login-or-logout-menu-item/
plugins/nav-menu-roles/
plugins/official-facebook-pixel/
plugins/redirection/
plugins/sg-cachepress/
plugins/sg-security/
plugins/user-menus/
plugins/w3-total-cache/
plugins/woocommerce-pdf-invoices-packing-slips/
plugins/wordpress-importer/
plugins/wp-crontrol/
plugins/wp-social/
